.footer {
    margin-top: 3rem;
    font-size: 0.8rem;
}
.homepage li {
    list-style: none;
    padding-bottom: 25px;
}

.page, .post {
    padding-bottom: 3em !important;
    margin-bottom: 0em !important;
}
